<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Профиль врача</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel="stylesheet" href="/assets/css/profilecss.css">
    <link rel="stylesheet" href="/assets/css/adminstyle.css">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
</head>
<body>
<header class="l-header" style="position: inherit !important; border-bottom: 1px solid; border-color: #cccccc;">
    <div class="l-header__inner clearfix" style="border: 0">
        <div class="c-search">
            Записи
        </div>
        <div class="header-icons-group">
            <a href="/logout"><div class="c-header-icon logout"><i class="fa fa-power-off"></i></div></a>
        </div>
    </div>
</header>
<!-- partial:index.partial.html -->
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="https://img.freepik.com/free-vector/doctor-with-a-patient-characters-vector_53876-169029.jpg?w=826&t=st=1661167450~exp=1661168050~hmac=40341f78cacc5a6a1358f6af4dfab59de2dd485d298be311f3344d794c0d568a"
                         class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle" th:object="${doctor}">
                    <div class="profile-usertitle-name" th:text="${doctor.getName() + ' ' + doctor.getLastname()}">
                        <!--Jason Davis-->
                    </div>
                    <div class="profile-usertitle-job" th:text="${doctor.getSpecialization()}">
                        <!--Developer-->
                    </div>
                    <!--<button style="background-color: #4e73df; border-color: #4e73df;color: #fff;cursor: pointer;padding: 0.25rem 0.5rem;font-size: 1.5rem;border-radius: 0.5rem !important; margin-top: 2rem">
                        Сменить фотографию
                    </button>-->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-wrapper content-wrapper--with-bg">
                <div class="page-content">
                    <div class="container">
                        <div class="header_wrap">
                            <div class="num_rows">

                                <div class="form-group">    <!--		Show Numbers Of Rows 		-->
                                    <select class="form-control" name="state" id="maxRows">
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="70">70</option>
                                        <option value="100">100</option>
                                        <option value="5000">Показать всё</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tb_search">
                                <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()"
                                       placeholder="Поиск..." class="form-control">
                            </div>
                        </div>
                        <table class="table table-striped table-class" id="table-id">
                            <thead>
                            <tr>
                                <th>Имя клиента</th>
                                <th>Фамилия клиента</th>
                                <th>Дата</th>
                                <th>Телефон клиента</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="client : ${clients}">
                                <td th:text="${client.getName()}"></td>
                                <td th:text="${client.getLastname()}"></td>
                                <td th:text="${client.getDatetime()}"></td>
                                <td th:text="${client.getNumber()}"></td>
                            </tr>
                            <tbody>
                        </table>

                        <!--		Start Pagination -->
                        <div class='pagination-container'>
                            <nav>
                                <ul class="pagination">
                                    <!--	Here the JS Function Will Add the Rows -->
                                </ul>
                            </nav>
                        </div>
                        <div class="rows_count">Showing 11 to 20 of 91 entries</div>

                    </div> <!-- 		End of Container -->


                    <!-- partial -->
                    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
                    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
                    <script src="assets/js/adminscript.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script src="/assets/js/adminscript.js"></script>
</body>
</html>
